<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <!-- BBRZ 
  <connectionStrings>
    <add name="OnlineKreditEntities" connectionString="metadata=res://*/OnlineKreditModel.csdl|res://*/OnlineKreditModel.ssdl|res://*/OnlineKreditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC901B0E043E51;initial catalog=dbOnlineKredit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
  
  <!-- Zuhause -->
  <connectionStrings>
    <add name="OnlineKreditEntities" connectionString="metadata=res://*/OnlineKreditModel.csdl|res://*/OnlineKreditModel.ssdl|res://*/OnlineKreditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NFQJOJE;initial catalog=dbOnlineKredit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>