
@{
    ViewBag.Title = "Index";
}

<div id="decorative1" style="position:relative">
    <div class="container">

        <div class="divPanel headerArea">
            <div class="row-fluid">
                <div class="span12">

                    <div id="headerSeparator"></div>

                    <div id="divHeaderText" class="page-content">
                        <div id="divHeaderLine1"> Online Kredit beantragen</div><br />
                        <div id="divHeaderLine2">In der Zukunfunt finden Sie bei uns auch Online Wohnkredite.</div><br />
                        @Html.ActionLink("Zum Online Kredit", "KreditRahmen", "KonsumKredit", null, new { @class = "btn btn-large btn-primary" });
                    </div>

                    <div id="headerSeparator2"></div>

                </div>
            </div>

        </div>

    </div>
</div>

<div id="contentOuterSeparator"></div>

<div class="container">

    <div class="divPanel page-content">

        <div class="row-fluid">

            <div class="span12" id="divMain">

                <h1>Welcome</h1>

                <p>
                    Damit Sie sich Ihre Träume auch dann erfüllen können, wenn die eigenen finanziellen Mittel nicht ganz ausreichen, gibt es den Einfach Online Kredit bei der Deutsche Bank AG Egal, ob Sie sich eine neue Einrichtung für Ihr Zuhause zulegen möchten, einen besonderen Urlaub planen oder sich Ihrer Weiterbildung widmen wollen, ein Kredit schafft Ihnen den möglichen finanziellen Spielraum, den Sie benötigen.
                    Überlegen Sie sich also zuerst, welchen Wunsch Sie sich erfüllen wollen und informieren Sie sich anschließend gleich online über Details und Konditionen zu diesem Produkt. Sie wissen bereits, welche Vorhaben Sie sich mit Ihrem Kredit finanzieren möchten? Dann profitieren Sie von den Vorteilen des Einfach Online Kredits und setzen Sie den ersten Schritt indem Sie gleich online das Formular ausfüllen.
                    Der Deutsche Bank AG Einfach Online Kredit hat außerdem noch einige attraktive Services zu bieten, die Sie sich nicht entgehen lassen sollten. Nachdem Sie online das Formular ausgefüllt haben, erhalten Sie von uns anhand Ihrer wahrheitsgemäß angegebenen, nachzuweisenden Daten und Bonitätsprüfung, sofort Ihre persönliche Kreditentscheidung. Erfüllen Sie sich einfach und schnell Ihre Wünsche mit dem Deutsche Bank AG Einfach Online Kredit.
                    Sollten Sie noch Fragen haben, dann kontaktieren Sie uns telefonisch oder besuchen Sie uns in einer Filiale in Ihrer Nähe. Wir beantworten gerne Ihre rund um den Einfach Online Kredit.
                </p>
            </div>
        </div>
    </div>

</div>

